[versions]
agp = "8.9.0"
androidxAppcompat = "1.7.0"
androidxTestRunner = "1.6.2"
desugarJdkLibs = "2.1.5"
kotlin = "2.1.20"

[libraries]
android-gradle-plugin = { module = "com.android.tools.build:gradle", version.ref = "agp" }
androidx-appcompat = { module = "androidx.appcompat:appcompat", version.ref = "androidxAppcompat" }
androidx-test-runner = { module = "androidx.test:runner", version.ref = "androidxTestRunner" }
desugar-jdk-libs = { module = "com.android.tools:desugar_jdk_libs", version.ref = "desugarJdkLibs" }

[plugins]
android-application = { id = "com.android.application", version.ref = "agp" } # Version not required here because the library is already included in buildSrc classpath.
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
